body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #dfe9f3 0%,
    #ffffff 100%
  );

  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 40px 20px;

  box-sizing: border-box;
}


/* MAIN CHAT BOX */

.chat-container {
  width: 100%;
  max-width: 700px;

  background: rgba(255,255,255,0.85);

  backdrop-filter: blur(10px);

  border-radius: 24px;

  padding: 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

  box-sizing: border-box;
}

/* TITLE */

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
}

html {
  overflow-y: auto;
}
/* MESSAGE AREA */

#messages {
  height: 550px;

  overflow-y: auto;

  padding: 15px;

  border-radius: 18px;

  background: rgba(255,255,255,0.4);

  border: 1px solid rgba(0,0,0,0.08);

  margin-bottom: 18px;
}


/* SINGLE MESSAGE */

.message {
  background: #e9eef6;

  padding: 14px;

  border-radius: 18px;

  margin-bottom: 12px;

  word-wrap: break-word;

  animation: fadeIn 0.2s ease;
}


/* MESSAGE TOP */

.message-top {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 6px;
}


/* USERNAME */

.message-top strong {
  font-size: 16px;
}


/* TIME */

.time {
  font-size: 12px;

  color: gray;
}


/* MESSAGE TEXT */

.message-text {
  font-size: 16px;

  line-height: 1.5;
}


/* INPUT AREA */

.input-area {
  display: flex;

  gap: 10px;
}


/* INPUTS */

input {
  flex: 1;

  padding: 14px;

  border-radius: 14px;

  border: 1px solid #ccc;

  font-size: 16px;

  outline: none;

  transition: 0.2s;
}

input:focus {
  border-color: #0070f3;

  box-shadow: 0 0 0 3px rgba(0,112,243,0.1);
}


/* BUTTONS */

button {
  padding: 14px 20px;

  border: none;

  border-radius: 14px;

  background: #1677ff;

  color: white;

  cursor: pointer;

  font-size: 15px;

  transition: 0.2s;
}

button:hover {
  transform: scale(1.03);

  background: #005ad1;
}


/* LOGIN SCREEN */

#loginScreen {
  text-align: center;
}

#loginScreen input {
  margin-bottom: 15px;
}


/* CLEAR BUTTON */

.clear-btn {
  width: 100%;

  margin-bottom: 12px;

  background: #ff4d4d;
}

.clear-btn:hover {
  background: #e63939;
}


/* SCROLLBAR */

#messages::-webkit-scrollbar {
  width: 6px;
}

#messages::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);

  border-radius: 10px;
}


/* MESSAGE ANIMATION */

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .chat-container {
    width: 95%;
    padding: 16px;
  }

  h2 {
    font-size: 32px;
  }

  #messages {
    height: 450px;
  }

  .message {
    padding: 10px;
  }

  .message-text {
    font-size: 15px;
  }

  input {
    font-size: 15px;
  }

  button {
    font-size: 15px;
  }
}
